/* color variables */

$colorone: #F1F1F3;
$colortwo: #D4B8FF;
$colorthree: #BDCBE8;
$colorfour: #C6E6FF;
$colorfive: #D0D4FF;



$darkfont: #000000;
$lightfont: #FFFFFF;

/* end color variables */

body {
	font-family: 'Lato', sans-serif;
}

/* header / top bar area */

#attention_bar_header {
	.attention_bar_header_content {
		h3 {
			font-weight: 500;
		}
	}
}

header {
	background: $colorthree;
	
	#nav_bar {
		background: transparent;
		
		&.top_navigation {
			border-bottom: none;
		}
		
		#primary_nav {
			ul {
				li {
					a:link,
					a:visited {
						color: $darkfont;
					}
				}
			}
		}
	}
	
	&#header_home {
		#home_logo {
			.home_logo_text_wrapper,
			#home_logo_text_wrapper {
				margin-bottom: 30px;
				
				h1 {
					color: $darkfont;
					font-family: 'Merriweather', serif;
					font-size: 64px;
					font-weight: 700;
					margin-bottom: 10px;
				}
				
				h2 {
					color: $darkfont;
					font-size: 28px;
					font-weight: 500;
					line-height: 32px;
				}
			}
			
			#home_page_nav {
				ul {
					li {
						a:link,
						a:visited {
							background: $darkfont;
							border: 2px solid $darkfont;
							border-radius: 20px;
							color: $colorthree;
							letter-spacing: 0px;
							font-size: 18px;
							font-weight: 700;
							padding: 10px 20px;
							text-transform: none;
							transition: all .15s ease-in;
						}
						
						a:hover,
						a:active {
							background: transparent;
							color: $darkfont;
							opacity: 1;
						}
					}
				}
			}
		}
	}
	
	&#header_page {
		#page_title {
			h1.heading,
			h2.subheading {
				color: $darkfont;
			}
			
			h1.heading {
				font-family: 'Merriweather', serif;
				font-size: 48px;
				font-weight: 700;
				line-height: 52px;
			}
			
			h2.subheading {
				font-size: 28px;
				font-weight: 500;
				line-height: 32px;
			}
		}
	}
	
	&#header_home_mobile {
		height: 700px;
		
		.mobile_navigation_bar {
			background: transparent;
			
			#mobileopen {
				color: $darkfont;
			}
		}
		
		#mobile_nav {
			background: rgba($colorthree, .9);
			
			.mobile_nav_wrapper {
				#mobileclose {
					color: $darkfont;
				}
				
				#main_nav {
					ul {
						li {
							a:link,
							a:visited {
								color: $darkfont;
							}
						}
					}
				}
				
				#mobile_search {
					display: none;
				}
			}
		}
		
		#home_logo.home_logo_mobile {
			#home_logo_text_wrapper {
				h1 {
					color: $darkfont;
					font-family: 'Merriweather', serif;
					font-size: 38px;
					line-height: 42px;
					font-weight: 700;
					margin-bottom: 10px;
				}
				
				h2 {
					color: $darkfont;
					font-weight: 500;
					font-size: 24px;
					line-height: 28px;
				}
			}
			
			#home_page_nav {
				ul {
					li {
						a:link,
						a:visited {
							background: $darkfont;
							border: 2px solid $darkfont;
							border-radius: 20px;
							color: $colorthree;
							letter-spacing: 0px;
							font-size: 18px;
							font-weight: 700;
							padding: 10px 20px;
							text-transform: none;
							transition: all .15s ease-in;
						}
						
						a:hover,
						a:active {
							background: transparent;
							color: $darkfont;
							opacity: 1;
						}
					}
				}
			}
		}
	}
	
	&#header_page_mobile {
		height: 400px;
		
		.mobile_navigation_bar {
			background: transparent;
			
			#mobileopen {
				color: $darkfont;
			}
		}
		
		#mobile_nav {
			background: rgba($colorthree, .9);
			
			.mobile_nav_wrapper {
				#mobileclose {
					color: $darkfont;
				}
				
				#main_nav {
					ul {
						li {
							a:link,
							a:visited {
								color: $darkfont;
							}
						}
					}
				}
				
				#mobile_search {
					display: none;
				}
			}
		}
		
		#page_title {
			
			h1.heading,
			h2.subheading {
				color: $darkfont;
			}
			
			h1.heading {
				font-family: 'Merriweather', serif;
				font-size: 38px;
				font-weight: 700;
				line-height: 42px;
			}
			
			h2.subheading {
				font-size: 24px;
				font-weight: 500;
				line-height: 28px;
			}
		}
	}
}

/* end header / top bar */

/* parallax / testimonial area */

#parallax {
	background: url('../img/parallax.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/* end parallax / testimonial area */

/* main content area */

#main {
	background: $colorone;
	padding-top: 100px;
	
	.content {
		margin-bottom: 100px;
		text-align: center;
	
		h1,h2,h3 {
			color: $darkfont;
			font-family: 'Merriweather', serif;
		}
		
		h1 {
			color: $darkfont;
			font-family: 'Merriweather', serif;
			font-size: 42px;
			font-weight: 700;
			letter-spacing: -1px;
			line-height: 52px;
			margin-bottom: 30px;
		}
		
		hr.divider {
			margin: 30px auto;
		}
		
		p {
			color: $darkfont;
			font-weight: 500;
			font-size: 24px;
			line-height: 36px;
			margin-bottom: 30px;
		}
		
		strong {
			font-weight: 700;
		}
		
		/* gravity forms styling */
		
		.gform_wrapper {
			.gform_body {
				.gform_fields {
					.gfield_label {
						color: $darkfont;
						cursor: pointer;
						font-weight: 500;
						font-size: 24px;
						line-height: 36px;
					}
					
					.gfield_description {
						color: $darkfont;
						font-weight: 500;
						font-size: 18px;
						line-height: 24px;
					}
					
					input + label {
						color: $darkfont;
						font-weight: 500;
						font-size: 18px;
						line-height: 24px;

					}
					
					input[type="radio"] + label,
					input[type="checkbox"] + label {
						border: 2px solid $darkfont;
						border-radius: 20px;
						color: $darkfont;
						font-weight: 500;
						font-size: 18px;
						line-height: 24px;
						margin-bottom: 10px;
						padding: 10px 20px;
					}
					
					input[type="text"],
					input[type="tel"],
					input[type="email"] {
						background: transparent;
						border: 2px solid $darkfont;
						border-radius: 20px;
						font-size: 18px;
						padding: 10px 10px;
						-webkit-appearance: none;
						-moz-appearance: none;
						appearance: none;
					}
					
					input[type="radio"],
					input[type="checkbox"] {
						border: 0px;
						outline: 0px;
						-webkit-appearance: none;
						-moz-appearance: none;
						appearance: none;
					}
					
					input[type="radio"]:hover + label,
					input[type="checkbox"]:hover + label {
						background: $colorfive;
						border: 2px solid $colorfive;
						cursor: pointer;
					}
					
					input[type="radio"]:checked + label,
					input[type="checkbox"]:checked + label {
						background: $colortwo;
						border: 2px solid $colortwo;
						padding: 10px 20px;
						cursor: pointer;
					}
				}
			}
			
			.gform_footer {
				input[type="submit"] {
					background: $colortwo;
					border: 2px solid $colortwo;
					border-radius: 20px;
					color: $darkfont;
					font-family: 'Lato', sans-serif;
					font-weight: 500;
					font-size: 18px;
					letter-spacing: 0px;
					line-height: 24px;
					margin-bottom: 10px;
					padding: 10px 20px;
					text-transform: none;
				}
			}
		}
		
		.gform_confirmation_wrapper {
			.gform_confirmation_message {
				color: $colortwo;
				font-weight: 500;
				font-size: 24px;
				line-height: 36px;
				margin-bottom: 30px;
			}
		}
		
		/* end gravity forms styling */
	}
	
	.home_page_wrapper {
		padding: 100px 0px;
		
		.home_page_item {
			text-align: center;
			
			h1 {
				color: $darkfont;
				font-family: 'Merriweather', serif;
				font-size: 42px;
				font-weight: 700;
				letter-spacing: -1px;
				line-height: 52px;
				margin-bottom: 30px;
			}
			
			p {
				color: $darkfont;
				font-weight: 500;
				font-size: 24px;
				line-height: 36px;
				margin-bottom: 30px;
			}
		}
	}
	
	.home_page_wrapper.home_page_item_1 {
		background-color: $colortwo;
	}
	
	.home_page_wrapper.home_page_item_2 {
		background-color: $colorthree;
	}
	
	.home_page_wrapper.home_page_item_3 {
		background-color: $colorfour;
	}
	
	.home_page_wrapper.home_page_item_4 {
		background-color: $colorfive;
	}
	
	.home_page_wrapper.home_page_item_5 {
		background-color: $colortwo;
	}
	
	/* subscription element page */
	
	.subscription_wrapper {
		padding: 100px 0px;
		
		.subscription {
			text-align: center;
			
			h1 {
				color: $darkfont;
				font-family: 'Merriweather', serif;
				font-size: 42px;
				font-weight: 700;
				letter-spacing: -1px;
				line-height: 52px;
				margin-bottom: 30px;
			}
			
			p {
				color: $darkfont;
				font-weight: 500;
				font-size: 24px;
				line-height: 36px;
				margin-bottom: 30px;
			}
			
			span.sublength {
				color: $darkfont;
				display: block;
				font-size: 24px;
				font-weight: 700;
				letter-spacing: -1px;
			}
			
			span.cost {
				display: block;
				font-size: 100px;
				font-weight: 700;
				letter-spacing: -1px;
				padding: 20px 0px;
				
				span.dollar {
					font-size: 50px;
					line-height: 70px;
					vertical-align: top;
				}
			}
			
			span.details_button {
				cursor: pointer;
				display: inline-block;
				background: $darkfont;
				border-radius: 20px;
				padding: 10px 20px;
				font-size: 18px;
				font-weight: 700;
			}
			
			span.details_button:hover {
				opacity: .5;
			}
			
			.details {
				padding: 50px 0px 0px 0px;
				
				ul {
					li {
						color: $darkfont;
						font-size: 20px;
						font-weight: 500;
						line-height: 28px;
					}
				}
			}
		}
	}
	
	.subscription_wrapper.setup-fee {
		background-color: $colortwo;
		
		span.details_button {
			color: $colortwo;
		}
	}
	
	.subscription_wrapper.basic-website {
		background-color: $colorthree;
		
		span.details_button {
			color: $colorthree;
		}
	}
	
	.subscription_wrapper.advanced-website {
		background-color: $colorfour;
		
		span.details_button {
			color: $colorfour;
		}
	}
	
	.subscription_wrapper.special-project {
		background-color: $colorfive;
		
		span.details_button {
			color: $colorfive;
		}
	}
	
	.subscription_wrapper.website-hosting {
		background-color: $colortwo;
		
		span.details_button {
			color: $colortwo;
		}
	}
	
	.subscription_wrapper.domain-hosting {
		background-color: $colorthree;
		
		span.details_button {
			color: $colorthree;
		}
	}
	
	.subscription_wrapper.custom-online-forms {
		background-color: $colorfour;
		
		span.details_button {
			color: $colorfour;
		}
	}
	
	/* end subscription element page */
	
}

/* end main content area */

/* medical page */

#medical_wrapper {
	background: $colortwo;
	color: $darkfont;
	padding: 100px 0px;
	
	.medical_column {
		display: block;
		text-align: center;
		vertical-align: top;
		
		img {
			display: block;
			height: 70px;
			margin: 0 auto;
			width: auto;
		}
		
		h3 {
			color: $darkfont;
			display: block;
			font-family: 'Merriweather', serif;
			font-size: 28px;
			font-weight: 500;
			letter-spacing: -1px;
			line-height: 32px;
			margin: 30px 0px 20px 0px;
			text-align: center;
		}
		
		p {
			color: $darkfont;
			display: block;
			font-size: 20px;
			font-weight: 500;
			line-height: 28px;
		}
		
		a:link,
		a:visited {
			background: $darkfont;
			border: 2px solid $darkfont;
			border-radius: 20px;
			color: $colortwo;
			display: inline-block;
			font-weight: 600;
			margin-top: 30px;
			padding: 10px 20px;
			text-decoration: none;
			transition: all .15s ease-in;
		}
		
		a:hover,
		a:active {
			background: transparent;
			color: $darkfont;
		}
	}
}

#medical_wrapper_2 {
	
	.medical_row {
		padding: 100px 0px;
		text-align: center;
		
		&:nth-child(odd) {
			background: $colorfour;
		}
		
		h3 {
			color: $darkfont;
			font-family: 'Merriweather', serif;
			font-size: 42px;
			font-weight: 700;
			letter-spacing: -1px;
			line-height: 52px;
			margin-bottom: 30px;
		}
		
		p {
			color: $darkfont;
			font-weight: 500;
			font-size: 24px;
			line-height: 36px;
			margin-bottom: 30px;
		}
	}
}

#med_feature_wrapper {
	padding-top: 100px;
	
	.med_feature_row {
		.med_feature_item {
			background: $colorthree;
			border-radius: 5px;
			display: inline-block;
			margin: 0px 10px 20px 10px;
			padding: 20px;
			width: calc(50% - 60px);
			
			i {
				background: rgba($colorone, .1);
				border-radius: 5px;
				color: $colorone;
				display: block;
				float: left;
				height: 40px;
				font-size: 24px;
				line-height: 40px;
				margin: 0px 20px 0px 0px;
				text-align: center;
				width: 40px;
			}
			
			h3 {
				color: $darkfont;
				display: block;
				font-family: 'Merriweather', serif;
				font-size: 28px;
				font-weight: 500;
				letter-spacing: -1px;
				line-height: 32px;
				margin: 30px 30px 20px 0px;
				text-align: center;
			}
			
			p {
				color: $darkfont;
				display: block;
				font-size: 20px;
				font-weight: 500;
				line-height: 28px;
			}
		}
	}
}

/* end medical page */

/* footer & copyright area */

footer {
	background: $colorone;
	
	#logo_footer {
		
		h2 {
			color: $darkfont;
			font-weight: 500;
		}
	}
}

#copyright {
	background: $colorone;
	
	#copyright_content {
		
		p {
			color: $darkfont;	
		}
		
		a:link,
		a:visited {
			color: $darkfont;
		}
	}
	
	#social_nav {
		ul {
			li {
				a:link,
				a:visited {
					color: $darkfont;
				}
			}
		}
	}
}

/* end footer & copyright area */




@media (min-width: 980px) and (max-width: 1220px) {
	
}
	
@media (min-width: 768px) and (max-width: 979px) {
	
	header {
		background: $colorthree;
	}
	
	#main {
		.content {
			h1 {
				font-size: 32px;
				line-height: 36px;
			}
		}
		
		.home_page_wrapper {
			.home_page_item {
				h1 {
					font-size: 32px;
					line-height: 36px;
				}
			}
		}
		
		.subscription_wrapper {
			.subscription {
				h1 {
					font-size: 32px;
					line-height: 36px;
				}
			}
		}
	}
	
	#medical_wrapper_2 {
		.medical_row {
			h3 {
				font-size: 32px;
				line-height: 36px;
			}
		}
	}
	
}
	
@media (min-width: 480px) and (max-width: 767px) {
	
	header {
		background: $colorthree;
	}
	
	#main {
		.content {
			h1 {
				font-size: 32px;
				line-height: 36px;
			}
		}
		
		.home_page_wrapper {
			.home_page_item {
				h1 {
					font-size: 32px;
					line-height: 36px;
				}
			}
		}
		
		.subscription_wrapper {
			.subscription {
				h1 {
					font-size: 32px;
					line-height: 36px;
				}
			}
		}
	}
	
	#medical_wrapper_2 {
		.medical_row {
			h3 {
				font-size: 32px;
				line-height: 36px;
			}
		}
	}
	
	#med_feature_wrapper {
		.med_feature_row {
			.med_feature_item {
				width: calc(100% - 60px);
			}
		}
	}
	
}
	
@media (min-width: 0px) and (max-width: 479px) {
	
	header {
		background: $colorthree;
		
		&#header_home_mobile {
			#home_logo.home_logo_mobile {
				margin-top: -250px;
			}
		}
	}
	
	#main {
		.content {
			h1 {
				font-size: 32px;
				line-height: 36px;
			}
		}
		
		.home_page_wrapper {
			.home_page_item {
				h1 {
					font-size: 32px;
					line-height: 36px;
				}
			}
		}
		
		.subscription_wrapper {
			.subscription {
				h1 {
					font-size: 32px;
					line-height: 36px;
				}
			}
		}
	}
	
	#medical_wrapper_2 {
		.medical_row {
			h3 {
				font-size: 32px;
				line-height: 36px;
			}
		}
	}
	
	#med_feature_wrapper {
		.med_feature_row {
			.med_feature_item {
				width: calc(100% - 60px);
			}
		}
	}
	
}